
      #player {
        position: absolute;
        top: 300px;
        left: 50px;
        background: #FC0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
      

    
   .up {
        position: absolute;
        background: red;
        width: 30px;
        height: 50px;
        animation: move 5s infinite;
        
    }  
   .down {
        position: absolute;
        background: green;
        width: 30px;
        height: 50px;
        animation: up 5s infinite;
        
    }  
    
      
   body
   {
    background: black;
   }